.home {
  ion-icon{
    font-size: 40px;
    color: maroon;
  }
  ion-grid{
    padding: 0;
  }
  .silver{
    background-color: silver;
  }
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}









